body {
  font-family: sans-serif;
  color: #444;
}

article {
  border: 5px solid black;
}

li {
  list-style: square;
}

button {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  border: none;
  background-color: black;
}

button:hover {
  background-color: white;
  color: #444;
}

.article-header {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  color: black;
}

.article-price {
  font-size: 24px;
}

.article-delivery {
  font-size: 12px;
  font-weight: bold;
  color: #7f7d7d;
  text-transform: uppercase;
}

.product-details {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link {
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}
