@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

section.top {
  background: linear-gradient(to right, #ffebcd, #ff8b72);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 7.5em 5.7em;
}

section.bottom {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 7.5em;
  padding: 8.3em 7.3em;
  align-items: center;
}

.header h1 {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.4rem;
}

.header p {
  font-size: 1.8rem;
  text-align: center;
  width: 75%;
  margin: auto;
}

img {
  margin-top: 1.4em;
  width: 300px;
}

.hide {
  display: none;
}

.fast-pass,
.safety-first,
.tripfix {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.7em;
}

.fast-pass h1,
.safety-first h1,
.tripfix h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.fast-pass p,
.safety-first p,
.tripfix p {
  font-size: 1.8rem;
}

@media screen and (min-width: 800px) {
  .hide {
    display: block;
  }

  img {
    width: 195px;
  }

  section.top {
    align-items: flex-start;
    height: 30vh;
    padding: 5em 5.7em;
  }

  .header h1 {
    text-align: left;
    font-size: 5rem;
    font-weight: bold;
  }

  .header p {
    margin-left: 0;
    text-align: left;
    font-size: 2.4rem;
  }

  .img-gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3.4em;
    width: 100%;
  }

  .two-img {
    display: flex;
    gap: 3.4em;
    height: 40em;
  }

  .donkey {
    align-self: flex-start;
  }

  section.bottom {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
    padding-top: 10em;
  }

  .fast-pass {
    flex-basis: 100%;
    align-items: flex-start;
    /* text-align: left; */
  }

  .safety-first {
    margin-top: 4.2em;
    align-items: flex-start;
    text-align: left;
    width: 50%;
  }

  .tripfix {
    margin-top: 4.2em;
    align-items: flex-start;
    text-align: left;
    width: 50%;
  }

  .safety-first p,
  .tripfix p {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  section.top {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 7.5em 5.7em;
    justify-content: space-between;
    height: 30vh;
  }

  img {
    width: 218px;
  }

  .img-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.4em;
    width: 100%;
  }

  .two-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3em;
    height: 42em;
  }

  .single-img {
    display: flex;
    flex-direction: column;
    height: 42em;
    justify-content: center;
  }

  /* .donkey {
    align-self: flex-start;
  } */

  section.bottom {
    flex-wrap: nowrap;
    align-items: center;
  }

  .fast-pass {
    flex: auto;
    align-items: center;
  }

  .safety-first,
  .tripfix {
    margin-top: 0;
    align-items: center;
    text-align: center;
  }

  .header h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    margin-top: 10rem;
    margin-bottom: 1.4rem;
  }

  .header p {
    margin-left: 0;
    text-align: left;
    width: 100%;
    font-size: 2.4rem;
    /* margin-left: 5rem; */
  }
}
