@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

section.top {
  background: linear-gradient(to right, #ffebcd, #ff8b72);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 7.5em 5.7em;
}

section.bottom {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 7.5em;
  padding: 8.3em 7.3em;
  align-items: center;
}

.header h1 {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.4rem;
}

.header p {
  font-size: 1.8rem;
  text-align: center;
  width: 75%;
  margin: auto;
}

.donkey {
  margin-top: 1.4em;
  width: 300px;
}

.hide {
  display: none;
}

.fast-pass,
.safety-first,
.tripfix {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.7em;
}

.fast-pass h1,
.safety-first h1,
.tripfix h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.fast-pass p,
.safety-first p,
.tripfix p {
  font-size: 1.8rem;
}
